.DetailUI {
  border: 3px solid black;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  display: grid;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  &__image {
    width: 100%;
    & img {
      max-width: 400px;
      width: 100%;
      border-radius: 10px;
    }
  }
  &__info {
    display: grid;
    gap: 20px;
    & h2 {
      font-size: 3rem;
    }
    & ul {
      display: grid;
      gap: 20px;
      list-style: none;
      & li {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (min-width: 800px) {
  .DetailUI {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    &__info {
      & h2 {
        font-size: 5rem;
      }
    }
  }
}