@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,500&family=Noto+Sans+JP&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Monserrat, sans-serif;
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  background-image: url(../public/rick-morty-mobile.jpg);
  background-size: cover;
  & #root {
    background-color: rgba(127, 255, 212, 0.329);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 20px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
}

.UI {
  display: grid;
  place-items: center;
  padding-top: 20px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

@media (min-width: 630px) {
  .UI {
    &__nav {
      grid-template-columns: 1fr 1fr;
    }
  }
}