.card {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 10px;
  padding: 20px;
  min-width: 246px;
  max-width: 270px;
  width: 100%;
  border: 3px solid black;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.5px );
  & .true {
    cursor: pointer;
    border: 3px solid white;
    background-color: black;
    fill: #f71111;
    & svg path {
      fill: #f71111;
    }
  }
  & .false {
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    position: absolute;
    border: 3px solid black;
    border-radius: 50px;
    & svg {
      & path {
        fill: rgb(158, 145, 145);
      }
    }
  }
  & button {
    display: grid;
    place-items: center;
  }
  & button:nth-child(1) {
    width: 50px;
    height: 50px;
    top: 10px;
    left: 10px;
    position: absolute;
    border: 3px solid black;
    border-radius: 50px;
    & svg {
      width: 30px;
      height: 30px;

    }
  }
  & button:nth-child(2) {
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    position: absolute;
    border: 3px solid black;
    border-radius: 50px; 
    & svg {
      width: 20px;
      height: 20px;
      fill: black;
    }
  }
  & button:nth-child(2):hover {
    cursor: pointer;
    border: 3px solid white;
    background-color: black;
    & svg {
      fill: #24f711;
      transform: rotate(45deg);
      transition: all 50ms ease-in;
    }
  }
  & > img {
    width: 80%;
    min-width: 200px;
    border-radius: 10px;
    border: 3px solid black;
  }
  & h2 {
    text-align: center;
  }
  & h2:nth-child(3) {
    font-size: 2.6rem;
  }
  & h2:nth-child(4),
  & h2:nth-child(5) {
    font-size: 1.8rem;
    color: rgb(37, 37, 37);
  }
}